*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:antiquewhite;
   font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
nav{
    padding: 20px 10%;
    height: 15vh;

}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
    color: black;
}
nav ul li img{
    width: 80px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: 85%;
}

.leftmain{
    width: 40%;

}
.leftmain h1{
    font-size: 50px;
}
.leftmain p{
    margin: 5% 0;
    color:black;
    font-size:20px ;
}
.leftmain button{
    padding: 15px 20px;
    font-size: 20;
    color: white;
    font-weight: 600;
    border: none;
    background-color:green;
    border-radius: 15px;
}
.rightmain{
    width: 60%;
    padding-left: 7%;
}
.rightmain div img{
    width: 50%;
    
}
.rightmain div img:first-child {
    margin-right: 20px;
  }
  .rightmain div {
    margin-bottom: 20px;
  }
  .rightmain  img {
    width: 54%;
  }
        

        
